@use 'sass:math';

@mixin fcolumn($columns, $gutter, $offset, $selector) {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -$offset;
  margin-left: -$gutter;

  & > #{$selector} {
    margin-bottom: $offset;
    margin-left: $gutter;
    @include fcolumn-size(math.div(1, $columns), $gutter);
  }
}

@mixin fcolumn-size($ratio, $gutter) {
  width: calc(#{100% * $ratio} - #{$gutter});
}
