@import 'node_modules/reset-css/sass/reset'

@import ./globals

// 'Lato:300,400,500,700,900'
@import ./mixins/font_face.scss
+font-face('lato', '../assets/fonts/lato/Lato-Light', 300, $exts: eot woff woff2 ttf)
+font-face('lato', '../assets/fonts/lato/Lato-Regular', 400, $exts: eot woff woff2 ttf)
+font-face('lato', '../assets/fonts/lato/Lato-Heavy', 800, $exts: eot woff woff2 ttf)

*,
*:before,
*:after
  box-sizing: inherit

html
  box-sizing: border-box
  font-family: Lato, sans-serif
  font-size: 16px

  @media screen and (min-width: 340px) and (max-width: 359px)
    font-size: 17px

  @media screen and (min-width: 360px) and (max-width: 409px)
    font-size: 18px

  @media screen and (min-width: 410px) and (max-width: 767px)
    font-size: 20px

  @media screen and (min-width: 768px) and (max-width: 1023px)
    font-size: 22px

section

article,
.container
  +default_padding_right
  +default_padding_left
  position: relative
  width: 100%

  +gte_laptop
    max-width: 1200px
    margin: 0 auto

h1
  font-weight: bold

  +lte_ipad
    font-size: rem(24px)
    line-height: 1.33

  +gte_laptop
    font-size: 44px
    line-height: 52px

h2
  font-weight: bold

  +lte_ipad
    font-size: rem(24px)
    line-height: rem(28px)
    text-align: center

  +gte_laptop
    font-size: 30px
    line-height: 35px

  span
    color: #f2642b

strong,
b
  font-weight: bold

picture img
  max-width: 100%
