@import 'node_modules/reset-css/sass/reset'

@import ./globals

// 'Lato:300,400,500,700,900'
@import ./mixins/font_face.scss
+font-face('lato', '../assets/fonts/lato/Lato-Light', 300, $exts: eot woff woff2 ttf);
+font-face('lato', '../assets/fonts/lato/Lato-Regular', 400, $exts: eot woff woff2 ttf);
+font-face('lato', '../assets/fonts/lato/Lato-Medium', 500, $exts: eot woff woff2 ttf);
+font-face('lato', '../assets/fonts/lato/Lato-Bold', 700, $exts: eot woff woff2 ttf);
+font-face('lato', '../assets/fonts/lato/Lato-Black', 900, $exts: eot woff woff2 ttf);

*,
*:before,
*:after
  box-sizing: inherit

html
  box-sizing: border-box
  font-family: Lato, sans-serif
  font-size: 16px

  &.app
    @media screen and (min-width: 340px) and (max-width: 359px)
      font-size: 17px

    @media screen and (min-width: 360px) and (max-width: 409px)
      font-size: 18px

    @media screen and (min-width: 410px) and (max-width: 767px)
      font-size: 20px

  &.blog
    @media screen and (max-width: 339px)
      font-size: 14px

    @media screen and (min-width: 340px) and (max-width: 359px)
      font-size: 15px

    @media screen and (min-width: 360px) and (max-width: 409px)
      font-size: 16px

    @media screen and (min-width: 410px) and (max-width: 767px)
      font-size: 18px

section

article
  position: relative
  width: 100%

  +lte_ipad
    padding: 0 rem(16px)

  +laptop
    padding: 0 scale-between(30px, 45px, 1024px, 1280px)

  +gte_laptop
    max-width: 1200px
    margin: 0 auto

  +gte_desktop
    padding: 0 45px

h1
  font-weight: 900

  +lte_ipad
    font-size: rem(24px)
    line-height: rem(32px)

  +gte_laptop
    font-size: 44px
    line-height: 52px
